nav{
    width: 100%;
}

.logo{
    width: 120px;
    margin: 35px;
}

.desktop {
    width: 100%;
    display: none;
}

.mobileView{
    width: 100%;
    display: block;
}

/* module section */
.modules{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#fullWidth{
    width: 100%;
    grid-column: 1 / -1;
}

.half-screen{
    width: 100%;
}

/* social blocks */
.social-blocks{
    width: 100%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

footer{
    width: 100%;
    /* margin: 0; */
    background-color: rgba(232, 229, 229, 0.86);
    /* margin-top: 30px; */
    text-align: center;
    align-items: center;
    padding: 30px;
}

.footerImg{
    width: 135px;
    height: 122px;
}

.maps{
    text-decoration: none;
}

/* mobile  view */
@media (max-width: 600px){
    .modules{
        grid-template-columns: 1fr 1fr;
    }
    
    .logo{
        margin: 15px;
    }

    .desctop{
        display: none;
    }

    .mobileView{
        display: block;
    }
}

@media (min-width: 600px) {
    .modules {
      grid-template-columns: 1fr 1fr; 
    }

    .logo{
        margin: 15px;
    }

    .desktop{
        display: block;
    }

    .mobileView{
        display: none;
    }
  
    #fullWidth {
      grid-column: 1 / span 2; 
    }
  
    .half-screen {
      width: 100%;
    }
  }
