*{
    font-family: serif;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 30px;
    align-items: center;
    border: 1px solid black;
}

a{
    color: yellow;
}

a:hover{
    color: yellowgreen;
}

.header{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    background-color: gray;
    border: 1px solid black;
}

body{
    background-color: lightgray;
}

#title{
    text-decoration: underline;
    text-align: center;
}

div.line{
    border:2px solid gray;
}

img{
    width: 60px;
    height: auto;
    border-radius: 3px;
}

.grid{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 3px;
}

#contact{
    background-color:gray;
    padding: 3px;
    text-decoration: underline;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 4;
}

#location1{
    background-color:gray;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 4;
    text-decoration: underline;
}

#contact1{
    background-color: lightyellow;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    grid-column: 1 / 4;
    grid-row: 3 / 4;

}

#location2{
    background-color:gray;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-decoration: underline;
}

#contact2{
    background-color: lightyellow;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

#location3{
    background-color:gray;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    text-decoration: underline;
}

#contact3{
    background-color: lightyellow;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

@media (min-width: 500px){
    .grid{
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 3px;
    }
    
    #contact{
        background-color:gray;
        padding: 3px;
        text-decoration: underline;
        border-radius: 3px;
        border: 1px solid black;
        text-align: center;
        grid-column: 1 / 4;
    }
    
    #location1{
        background-color:gray;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        text-align: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-decoration: underline;
    }
    
    #contact1{
        background-color: lightyellow;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    
    }
    
    #location2{
        background-color:gray;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-decoration: underline;
    }
    
    #contact2{
        background-color: lightyellow;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    
    #location3{
        background-color:gray;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        text-align: center;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        text-decoration: underline;
    }
    
    #contact3{
        background-color: lightyellow;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        grid-column: 3 / 4;
        grid-row: 3 / 5;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
        background-color: gray;
        height: 30px;
        align-items: center;
        border: 1px solid black;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}